In [10]:
import pandas as pd

#creating the test data
#df = pd.DataFrame({'0': ['a', 'b', 'c'], '1': ['2015-12-27','2015-12-28', '2015-12-29'], '2': [11,12,13]})
#df.to_csv('test.csv', index=False)

##Parse date unction look for the formate tobe in date for 'datecolumns'
#loading the test data
df = pd.read_csv('test.csv', parse_dates=True)
#print df.dtypes

In [11]:
df.head()

   0           1   2          v1  v2          v3  v4
0  a  12/27/2015  11  12/27/2015  11  12/27/2015  11
1  b  12/28/2015  12  12/28/2015  12  12/28/2015  12
2  c  12/29/2015  13  12/29/2015  13  12/29/2015  13

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
0     3 non-null object
1     3 non-null object
2     3 non-null int64
v1    3 non-null object
v2    3 non-null int64
v3    3 non-null object
v4    3 non-null int64
dtypes: int64(3), object(4)
memory usage: 296.0+ bytes

In [16]:
#ValueError : when built-in function receives a wrong argument
#try() is used in Error and Exception Handling
for col in df.columns:
    if df[col].dtype == 'object':
        try:
            df[col] = pd.to_datetime(df[col])
        except ValueError:  
            pass
            
            

df.dtypes

0             object
1     datetime64[ns]
2              int64
v1    datetime64[ns]
v2             int64
v3    datetime64[ns]
v4             int64
dtype: object

In [14]:
df_dates=df.select_dtypes(include=['datetime64'])

In [15]:
df_dates

           1         v1         v3
0 2015-12-27 2015-12-27 2015-12-27
1 2015-12-28 2015-12-28 2015-12-28
2 2015-12-29 2015-12-29 2015-12-29